@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; 
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.8); 
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.9); 
  border-radius: 12px;
}
